.inner {
  position: relative;
  width: 100%;
  max-width: 1230px;
  min-height: 700px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: 0 24px 45px 2px rgba(80, 106, 156, 0.32);
}

h1 {
  margin-bottom: 30px;
  text-align: center;
  color: #191825;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}
