.wrap {
  margin-top: 20px;
  line-height: 1.4;
}

.description {
  margin-top: 20px;
}

.text {
  margin-top: 20px;
}

.wrap__uploader {
  margin-top: auto;
}

.title {
  margin-bottom: 15px;
  font-weight: 500;
}
