.button {
  display: inline-block;
  padding: 6px 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  white-space: nowrap;
  border: 3px solid #000;
  border-radius: 30px;
  color: #fff;
  background: #000;
  transition: all 0.4s;

  &:hover {
    border: 3px solid #000;
    color: #000;
    background: none;
  }
}
