h1 {
  margin-bottom: 30px;
  text-align: center;
  color: #191825;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}

.wrap__uploader {
  margin-top: 30px;
}

.text {
  margin-bottom: 15px;
  font-weight: 500;
}
